# Fichiers Python compilés
__pycache__/
*.py[cod]

# Environnements virtuels
.env
.venv
env/
venv/
*.env
.risk/
# Fichiers système
.DS_Store

# Fichiers de logs
*.log

# Notebooks Jupyter
*.ipynb

# Cache pip
pip-wheel-metadata/
*.whl

# Git
.git
.gitignore
