pip==25.1.1
python-dotenv
joblib==1.4.2
numpy==2.0.2
pandas==2.2.2
pydantic
shap
scikit-learn==1.6.1
lightgbm==4.6.0
fastapi[standard]
uvicorn[standard]
fastapi-cache2
upstash-redis
redis==6.0.0
requests==2.32.3